<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Amigos Extraviados</title>

		<link rel="stylesheet" href="{{STATIC_URL}}libs/bootstrap/bootstrap.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{STATIC_URL}}css/app.css">
		<script src="{{STATIC_URL}}libs/jquery/jquery.min.js" ></script>
		<script src="{{STATIC_URL}}libs/bootstrap/bootstrap.min.js" ></script>
		<script src="{{STATIC_URL}}js/app.js" ></script>
	</head>
	<body>
	<section>
		<div class="row slide">
			<header  class="page-header" >
				<div class="col-md-12" id="head">
					<div class="col-md-6">
						<h1>Amigos Extraviados </h1>
					</div>
					<div class="col-md-6">
						<a type="button" class="btn btn-default pull-right">Inicia sesión</a>
						<!---->
						<div class="dropdown pull-right">
						  <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    Explora
						    <span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mascotas Perdidas</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mascotas Adoptadas</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mascotas Encontradas</a></li>
					
						  </ul>
						</div>

						<!---->
					</div>
				</div>
			</header>
			
			<div class="row" id="slide1">
				<div class="col-md-4 bienvenido">
					<h3>Bienvenido<br>
					<small>Registrarse es muy sencillo</small></h3>
					<hr>
					<div class="registro">
						<form  method='post' action=''>
							<div class="form-group col-md-10 camposR">
								<div class="form-group ">
									<input  type="email" class="form-control" placeholder="Correo Electronico" name="email">
							
									<input  type="password" class="form-control" placeholder="Contraseña" name="password">
							
									<input  type="password" class="form-control" placeholder="Confirmar Contraseña" name="password">
								</div>
						
								<input type='submit' class="btn btn-default " value='Registraté'/>	
								<br><br>
								<div class="col-md-12">
								<p class="pull-left">Ingresa con:</p><br><br>
									<span class="fa fa-google-plus-square fa-3x">
									<span class="fa fa-facebook-square">
									<span class="fa fa-twitter-square ">
									
									
								</div>
							
							</div>
						</form>
					</div>

				</div>
				<div class="btn-down">
					<a id="down"> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>Conoce mas acerca de nosotros</a>	
				</div>
				
			</div>
			
				
		</div>
		<div class="row slide"  id="slide2">
		
			<div class="btn-up col-centered">
				<a id="up"> <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>Sube</a>	
			</div>		
		
				
			<div class="col-md-8">
				Quienes somos? <br>R/ la mejor plataforma online de rescate del mundo mundial
				 <br>  
				<div class="col-md-4 about">
					<img class=" img-responsive imagen-ayuda" src="{{STATIC_URL}}/img/3.png">
				</div>
				<div class="col-md-8  about">
					<h3>Adopta una Mascota</h3>
					<p>hola adopta</p> 
				</div>  
				<div class="col-md-12"><hr></div>
				<div class="col-md-8 about">
					<h3>Encuentra una Mascota</h3>
					<p>hola como esta la playa bonita</p>
				</div>
				<div class="col-md-4 about">
					<img class=" img-responsive imagen-ayuda" src="{{STATIC_URL}}/img/4.png">
				</div>

			</div>
			<div class="col-md-4 info" >
				mas chachara 
			</div>
		</div>


		</section>
	</body>
</html>