{% extends 'template_base.html' %}
	{% block contenido_Index %}
	
	<section>
		<div class="row slide">
			<div class="row" id="slide1">
				<div class="col-md-12">
					<div class="col-md-4"></div>
					<div class="col-md-4 .col-sm-4  bienvenido">
						<div class="col-md-12" id="registro">
						<h3>Regístrate</h3>
						<small>Es muy sencillo</small>
						<hr>
							<form id="formulario_registro" method='post' action='' role="form">{% csrf_token %}
						<div class="row">
								<div class="form-group col-md-10 ">
									<div class="form-group">

										<input  id="nameRegistro" type="text" class="form-control" placeholder="Nombre de usuario" name="nombre">

										<input  id="emailRegistro" type="email" class="form-control" placeholder="Correo Electrónico" name="email">
								
										<input  id="pass1Registro" type="password" class="form-control" placeholder="Contraseña" name="password">
								
										<input  id="pass2Registro"type="password" class="form-control" placeholder="Confirmar Contraseña" name="password">
									</div>
									<div class="row">
										<div class="col-md-6 col-xs-7 pull-left">
											<a id="iniciaSesion" href="#">Inicia sesión</a>
										</div>
										
										<div class="col-md-6 col-xs-5 pull-rigth">
											<input type='submit' class="btn btn-default " value='Regístrate'/>
										</div>	
									</div>
								</div>
						</div>														
							</form>	
							<div class="col-md-12 redesSociales">
								<p class="col-md-9">Regístrate con:</p>
								<span class="fa fa-google-plus-square fa-3x">
								<span class="fa fa-facebook-square">
								<span class="fa fa-twitter-square ">
							</div>
						
						</div>
						
						<div class="col-md-12" id="sesion">
						<h3>Inicia Sesión</h3>
						<small>Es muy rápido</small>
						<hr>
							<form id="formulario_login" method='post' action=''>{% csrf_token %}
								<div class="form-group col-md-10 ">
									<div class="form-group ">
										<input  type="email" class="form-control" placeholder="Correo Electronico" name="email">
								
										<input  type="password" class="form-control" placeholder="Contraseña" name="password">
									</div>
							<div class="row">
										<div class="col-md-6 col-xs-7 pull-left">
											<a class="pull-left" id="iniciaRegistro" href="#">Regístrate</a>
										</div>
										
										<div class="col-md-6 col-xs-5 pull-rigth">
											<input type='submit' class="btn btn-default " value='Ingresa'/>	
										</div>	
									</div>

									
								</div>
							</form>
							
							
							<div class="col-md-12 redesSociales">
							<p class="col-md-9">Inicia con:</p>
								<span class="fa fa-google-plus-square fa-3x">
								<span class="fa fa-facebook-square">
								<span class="fa fa-twitter-square ">
						</div>
						</div>


					</div>
					<div class="btn-down">
						<a id="down">
							Conoce mas acerca de nosotros<br>
							<span class="fa fa-angle-double-down fa-4x" aria-hidden="true"></span>
						</a>	
					</div>
				</div>	
			</div>		
		</div>

		<div class="row slide"  id="slide2">
			<div class="col-md-12">
				<div class="btn-up col-centered">
					<a id="up"> 
						<span class="fa fa-angle-double-up fa-4x" aria-hidden="true"></span>
					</a>	
				</div>		
			
					
				<div class="col-md-8">
					Quienes somos? <br>R/ la mejor plataforma online de rescate del mundo mundial
					 <br>  
					<div class="col-md-4 about">
						<img class=" img-responsive imagen-ayuda" src="{{STATIC_URL}}/img/3.png">
					</div>
					<div class="col-md-8  about">
						<h3>Adopta una Mascota</h3>
						<p>hola adopta</p> 
					</div>  
					<div class="col-md-12"><hr></div>
					<div class="col-md-8 about">
						<h3>Encuentra una Mascota</h3>
						<p>hola como esta la playa bonita</p>
					</div>
					<div class="col-md-4 about">
						<img class=" img-responsive imagen-ayuda" src="{{STATIC_URL}}/img/4.png">
					</div>

				</div>
				<div class="col-md-4 info" >
					mas chachara 
				</div>
			</div>
		</div>


		</section>
	{% endblock %}
