{% extends 'template_sessiones.html' %}
	{% block contenido %}


		<div id="perdidos"></div>

		<!-- Button trigger modal -->
		<button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">
		  Reporta una mascota perdida
		</button>

		<!-- Modal -->
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
		    	<form>
		    		{{ form.media }}
					{% csrf_token %}
		    		<div class="modal-content">
			      		<div class="modal-header">
			        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        		<h4 class="modal-title" id="myModalLabel">Reporta una mascota perdida</h4>
			      		</div>
				      	<div class="modal-body ">
				        	<!-- campos formulario-->
			        		<div class="form-group col-md-6">
			        			<ul class="formulario-reporte">
									<li>nombre {{ form.nombre }}</li>
									<li>especie {{ form.especie }}</li>
									<li>raza {{ form.raza }}</li>
									<li>sexo{{ form.sexo }}</li>
									<li>descripcion{{ form.descripcion }}</li>
									<li>fecha desaparicion{{ form.fechaDesaparicion }}</li>
									<li>direccion{{ form.dirDesaparicion }}</li>
									<li>foto{{ form.photo }}</li>
								</ul>
			        		</div>
			        		<div class="form-group col-md-6">
			        			<ul class="formulario-reporte">
			        				<li>Indica la ubicacion{{ form.position }}</li>
			        			</ul>
			        		</div>

		      			</div>
		      			<div class="modal-footer">
		        			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		        			<button type="button" class="btn btn-default">Reportar</button>
		      			</div>
		    		</div>
		    	</form>
		  	</div>
		</div>

<script>

$(document).ready(function(){
	servicioMascota.getList( "/api/perdido/near/", 'perdidos' );
});

$("#send").click(function(){
	servicioMascota.sendMascota("/api/perdido/create", 'form-perdido');
	return false;
});
</script>
{% endblock %}

