{% extends 'template_base.html' %}
{% block Navbar %}
			<div class="container">
				<nav  class="navbar navbar-default navbar-static-top" role="navigation">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul  class="nav navbar-nav">
							<li>
								<a href="{% url 'front:inicio' %}">
								 Inicio
								</a>
							</li>
							<li >
								<a id="cat_perdidos" href="{% url 'front:perdidos' %}">Mascotas Perdidas</a>
							</li>
							<li>
								<a href="{% url 'front:adopciones' %}">Mascotas en Adopción</a>
							</li>
							<li>
								<a href="{% url 'front:encontrados' %}">Mascotas Encontradas</a>
							</li>
						</ul>
					</div>
				</nav>

				

				{% block contenido %}
				
		
				{% endblock %}
{% endblock %}