{% load pipeline %}
<!DOCTYPE html>
<html lang="es" manifest="{% url 'front:cache_manifest' %}">
	<head>
		<meta charset='utf-8'>
		<title>Amigos Extraviados</title>
		<link rel="stylesheet" href="{{STATIC_URL}}libs/bootstrap/bootstrap.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{STATIC_URL}}libs/bootstrap/font-awesome.min.css">
		{% stylesheet 'base' %}
		<script src="{{STATIC_URL}}libs/jquery/jquery.min.js" ></script>
		<script src="{{STATIC_URL}}libs/bootstrap/bootstrap.min.js" ></script>
		<script src="{{STATIC_URL}}libs/jquery/jquery.timeago.js" ></script>
		<script src="{{STATIC_URL}}libs/jquery/jquery.cookie.js" ></script>
		{% javascript 'base' %}
		{% block head %}
			
		{% endblock head %}

		{% if user.is_authenticated %}
				
				<h2>hola</h2>
				{{ user.nombre }}
				<a id = "logout" href="">Cerrar sesión</a>
			{% else %}
			  <a href=""> Iniciar Sesion</a>

	    	{% endif %}

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>

		<section>
			<header  class="page-header" >
				<div class="col-md-12" id="head">
					<div class="col-md-6">
						<h1>Amigos Extraviados </h1>
					</div>
					<div class="col-md-6">
						<!---->
						<div class="dropdown pull-right">
						  <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    Explora
						    <span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'front:perdidos'%}">Mascotas Perdidas</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'front:adopciones'%}">Mascotas Adoptadas</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'front:encontrados'%}">Mascotas Encontradas</a></li>
					
						  </ul>
						</div>

						<!---->
					</div>
				</div>
			</header>

			{% block Navbar %}
			{% endblock %}


			{% block contenido_Index %}
			{% endblock %}

	

			</div>
			<footer class="footer">
				<br>
				<div class="col-lg-2 col-md-2 col-sm-2 col-centered">
					Hola soy el footer 
				</div>
			</footer>

			<script type="text/javascript">

				$("#formulario_registro").submit(function(){
	    			sendDatosRegistro();
	    			
	    			return false;
	    	
				});

				$("#formulario_login").submit(function(){
	    			sendDatosLogin();
	    			
	    			return false;
	    	
				});

				$("#logout").click(function(){
					logout();
					return false;
				});
		</script>

		<script src="{{STATIC_URL}}js/user.js" ></script>

	</section>
			

	</body>
</html>
